body {
  background: linear-gradient(68.3deg, rgb(23, 41, 77) 6.3%, #f3719a 90.9%);
  display: block;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 40px;
}

h1 {
  font-size: 35px;
  color: whitesmoke;
  text-align: center;
  text-shadow: rgb(23, 41, 77) 3px -2px;
}

p {
  margin-top: 30px;
  color: whitesmoke;
  text-align: justify;
}

img {
  border-radius: 15px;
}

button {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #be5375;
  border-radius: 15px;
  padding: 20px 15px;
  background: whitesmoke;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0, 3);
}

.debut {
  display: flex;
  text-decoration: none;
}

.debut-replay {
  justify-content: center;
  border: 1px solid rgb(23, 41, 77);
  border-radius: 15px;
  padding: 20px;
}
