body {
  background: linear-gradient(68.3deg, rgb(23, 41, 77) 6.3%, #f3719a 90.9%);
  display: block;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 20px;
}

h1 {
  font-size: 35px;
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: justify;
}

img {
  border-radius: 10px;
}
