body {
  background: linear-gradient(68.3deg, rgb(23, 41, 77) 6.3%, #f3719a 90.9%);
  display: block;
  margin: 8px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 60px;
}

h1 {
  color: rgb(158, 72, 100);
  text-align: center;
}
