body {
  background: linear-gradient(68.3deg, rgb(23, 41, 77) 6.3%, #f3719a 90.9%);
  display: block;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 40px;
}

h1 {
  font-size: 35px;
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: justify;
}

img {
  border-radius: 15px;
}

button {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #f3719a;
  border-radius: 15px;
  padding: 20px 15px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0, 3);
}

a {
  text-decoration: none;
  color: #f3719a;
}
